<div class="container">
    <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>SignUp</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="regForm" (ngSubmit)="register()">
                <p>
                  <mat-form-field>
						<!-- <mat-icon matPrefix>person_outline</mat-icon> -->
						<input type="text" matInput placeholder="First Name" formControlName="fName" required>

                        <mat-error *ngIf="isFieldInvalid('fName')">
                            Please enter your first name
                        </mat-error>
                    </mat-form-field>
                </p>

                <p>
                  <mat-form-field>
						<!-- <mat-icon matPrefix>person_outline</mat-icon> -->
						<input type="text" matInput placeholder="last Name" formControlName="lName" required>

                        <mat-error *ngIf="isFieldInvalid('lName')">
                            Please enter your last name
                        </mat-error>
                    </mat-form-field>
                </p>

                <p>
                  <mat-form-field>
						<!-- <mat-icon matPrefix>person_outline</mat-icon> -->
						<input type="email" matInput placeholder="Email" formControlName="email" required>

                        <mat-error *ngIf="isFieldInvalid('email')">
                            Please enter your email
                        </mat-error>
                        </mat-form-field>
                </p>

                <p>
                  <mat-form-field>
						<!-- <mat-icon matPrefix>person_outline</mat-icon> -->
                        <input matInput [matDatepicker]="picker" placeholder="Date of birth (MM/DD/YYYY)" formControlName="dob">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="isFieldInvalid('dob')">
                            Please enter your date of birth
                        </mat-error>
                        </mat-form-field>
                </p>

                <p>
                  <mat-form-field>
						<!-- <mat-icon matPrefix>person_outline</mat-icon> -->
                        <span matPrefix>+91 &nbsp;</span>
						<input type="tel" matInput placeholder="Phone number" formControlName="phone" required>

                        <mat-error *ngIf="isFieldInvalid('phone')">
                            Please enter your phone number
                        </mat-error>
                        </mat-form-field>
                </p>

                <p>
                  <!-- <mat-form-field> -->
						<!-- <mat-icon matPrefix>person_outline</mat-icon> -->
						<!-- <input type="radio" matInput placeholder="Username" formControlName="email" required> -->
                        <label for="gender" class="gender-label">Gender</label>
                        <mat-radio-group aria-label="Select an option" formControlName="gender">
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                            <mat-radio-button value="other">Other</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="isFieldInvalid('gender')">
                            Please enter your gender
                        </mat-error>
                        <!-- </mat-form-field> -->
                </p>
      
                <p>
                  <mat-form-field>
                        <!-- <mat-icon matPrefix>lock_outline</mat-icon> -->
                        <input type="password" matInput placeholder="Password" formControlName="password" required>
                        <mat-error *ngIf="isFieldInvalid('password')">
                            Please enter your password
                        </mat-error>
                  </mat-form-field>
                </p>
      
                <!-- <p *ngIf="error" class="error">
                  {{ error }}
                </p> -->
      
                <div class="button">
                    <button mat-raised-button color="primary" type="submit">Register</button>
                </div>
      
              </form>
              <p class="signup-link">If you already have an account please <a [routerLink]="'/signin'">Login here</a></p>
        </mat-card-content>
      </mat-card>
</div>