<div class="main-wrapper">
    <header>
        <app-header></app-header>
    </header>

    <div class="router-wrapper">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <app-footer></app-footer>
    </footer>
</div>


<!-- <mat-sidenav-container>

	<mat-sidenav #sidenav mode="over">
		<label>My Application</label> 
    <hr/>   
    <app-header></app-header>
	</mat-sidenav>

	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<header>
				<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
				<label>My Application</label>        
                <app-header></app-header>       
            </header>
		</mat-toolbar>
    <section>
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container> -->